.header{
    display: flex;
    flex-direction: column;
    padding: 96px 0 77px;
    background: #FFF;
}
.header__title{
    font-family: Inter sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
}
