.histogram {
    padding: 16px 24px 24px;
    border-radius: 8px;
    border: 1px solid var(--grey-3);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.histogram__panel {
    display: flex;
    justify-content: space-between;
}

.histogram__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.histogram__title {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    margin: 0;
}

.histogram__quantity {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
}

.histogram__link {
    font-size: 16px;
    line-height: 24px;
    color: var(--royalBlue);
    text-decoration: none;
    pointer-events: none;
    padding-top: 3px;
}

.histogram__schedule {
    display: flex;
    align-items: flex-end;
    gap: 1px;
    margin-top: 39px;
    height: 50px;
}
.histogram__rectangle{
    flex-basis: 9px;
    background: var(--royalBlue);
}