.footer{
    display: block;
    height: 300px;
    background: #FFF;
}
.footer__title{
    font-family: Inter sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    margin-top: 77px;
    text-align: center;
}